body{font-family: Arial, Helvetica, sans-serif;}
a{text-decoration: none;color: #222222;}

@media screen and (min-width:1440px) {
  /* laytout */
  body.on{position: fixed;left: 0;top: 0;width: 100%;height: 100%;} 
  #header{display: block;z-index: 40;position: fixed;width: 100%;height: 98px;}
  #header.on{display: none;}
    .header_wrap{position: absolute;left: 0;width: 100%;height:98px;background: #fff;overflow: hidden;
      box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.01);transition: height 0.3s linear 0s;} /*overflow:hidden하니 안잡힘*/
    .header_inner{position:relative;width: 100%;height: 98px;background: #fff;}
  #container{position: relative;width: 100%;}

  /* ------------------- */



}
@media screen and (min-width:1280px) and (max-width:1439px) {
  body.on{position: fixed;left: 0;top: 0;width: 100%;height: 100%;}

  #header{display: block;z-index: 40;position: fixed;width: 100vw;height: 98px;}
  #header.on{display: none;}
    .header_wrap{position: absolute;left: 0;width: 100%;height:98px;background: #fff;overflow: hidden;
      box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.01);transition: height 0.3s linear 0s;}
    .header_inner{position:relative;width: 100%;height: 98px;background: #fff;}
  #container{position: relative;width: 88%;}
  /*  */

    
#container{position: relative;width: 100%;overflow: hidden;}
}
@media screen and (min-width:1024px) and (max-width:1279px) {
  body.on{position: fixed;left: 0;top: 0;width: 100%;height: 100%;}

  #header{display: block;z-index: 40;position: fixed;width: 100vw;height: 70px;}
  #header.on{display: none;}
    .header_wrap{position: absolute;left: 0;width: 100%;height:70px;background: #fff;overflow: hidden;
      box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.01);transition: height 0.3s linear 0s;}
    .header_inner{position:relative;width: 100%;height: 70px;background: #fff;}
  #container{position: relative;width: 100vw;}
}
@media screen and (min-width:835px) and (max-width:1023px) {
  body.on{position: fixed;left: 0;top: 0;width: 100%;height: 100%;}
  #container{position: relative;width: 100vw;}
}
@media screen and (min-width:500px) and (max-width:834px) {
  body.on{position: fixed;left: 0;top: 0;width: 100%;height: 100%;} 
  #container{position: relative;width: 100vw;}
}
@media screen and (max-width:499px){
  body.on{position: fixed;left: 0;top: 0;width: 100%;height: 100%;} 
  #container{position: relative;width: 100vw;}
}